<%= page_title "Add Video" %>

<%= render "form", video: @video %>

<div class="mt-8">
  <%= link_to "Back to contents", contents_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
